/* Generic */
body {
  font: 100% "Open Sans", Arial, sans-serif;
  margin: 0;
}

h2 {
  margin: .938em 0 .938em 0;
}

a:hover {
  transition: all .3s ease-in-out;
}

:focus {
  outline: 2px dashed green;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

nav div {
  background: black;
  display: flex;
  align-items: center;
  flex: 1;
}

nav input {
  opacity: 0;
}

nav img {
  height: 2.375em; width: 1.5em;
  margin-left: auto;
  margin-right: .938em;
}

nav ul {
  background: black;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  top: 3em; left: 0;
  width: 100vw;
}

nav li {

}

nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .938em;
}

nav a:hover, nav a:focus {
  background: red;
  outline: none;
}

nav li a {

}

@media screen and (min-width: 48em) {
  nav {
    flex-direction: row;
  }

  nav input {
    display: none;
  }

  nav img {
    display: none;
  }

  nav ul {
    position: static;
    top: inherit; left: inherit;
    width: inherit;
  }

  nav li {
    float: left;
  }
}

/* Sections */
section {
  display: none;
  height: 100vh; width: 100vw;
}

section.active {
  display: block;
}


/* Common */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: .938em;
  padding-right: .938em;
}

.hide {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

@media screen and (min-width: 48em) {
  .hide {
    height: inherit;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;    
  }
}

.show {
  height: inherit;
  visibility: visible;
  opacity: 1;
  transition: all .3s ease-in-out;
}