* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 100%/1.5 "Arial", sans-serif;
}

h2 {
  font-size: 120%;
  line-height: 1.1;
  margin: 0 0 .5em 0;
}

#list {
  margin: 0;
  padding-left: 0;
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  list-style: none;
}

#list div {
  background: orange;
  width: 250px;
  padding: .9735em;
  margin: .9735em;
  display: flex;
}

#list div h2 {
  text-align: center;
}

#list div strong {
  font-weight: bold;
}

#list div:nth-child(odd) {
  background: grey;
}

#list div li {
  display: flex;
  flex-direction: column; 
}