header {
  background: #2f2f2f;
  color: #fff;
  float: left;
  height: 100vh;
  padding-top: 15px;
  width: 100%;
}
 
header nav {
  float: right;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  margin-left: 2em;
}

header nav ul li:first-child a {
  margin-left: 0;
}